global
    maxconn 4096                    # giới hạn kết nối đến Proxy
    daemon
    log 127.0.0.1   local0
    log 127.0.0.1   local1 notice

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s

    log global
    mode http                           # mode tcp
    option httplog                      # option tcplog
    maxconn 3000

    stats enable
    # option forwardfor
    # option http-server-close
    stats uri /haproxyStats             # URL trang thống kê
    stats auth admin:admin123           # user/pass truy cập trang thống kê http://localhost:8080/haproxyStats


frontend http_in
    bind *:80
    mode http
    default_backend flow1

backend flow1
    balance roundrobin
    option forwardfor
    server server1 192.168.0.2:80 check
    server server2 192.168.0.3:80 check
    # server server3 192.168.79.132:80 check
